.product-page__img {
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    height: 80vh;
    width: auto;
    object-fit: cover;
  }
  
}

.product-page__title {
  font-family: $raleway;
  font-size: $font-size-xlg;
  margin-bottom: $s-size;
}

.product-page__price {
  font-family: $oswald;
  font-size: $font-size-m;
  margin-bottom: $s-size;
}

.product-page__s-price {
  @extend .product-page__price;
  color: red;
  font-size: $font-size-xlg;
}

.product-page__dimensions {
  font-style: italic;
  font-size: $font-size-sm;
  color: $grey;
}