* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

p {
  font-size: $m-size;
}

ul {
  font-size: $m-size;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

Link {
  color: $grey;
}

.is-active {
  font-weight: bold;
}